<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BuildMachineOSBuild</key>
    <string>16G1314</string>
    <key>CFBundleDisplayName</key>
    <string>Ledger Live</string>
    <key>CFBundleExecutable</key>
    <string>Ledger Live</string>
    <key>CFBundleIconFile</key>
    <string>Ledger Live.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.ledger.live</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Ledger Live</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.5</string>
    <key>CFBundleVersion</key>
    <string>1.1.5</string>
    <key>DTSDKBuild</key>
    <string>14D125</string>
    <key>DTSDKName</key>
    <string>macosx10.1010.10</string>
    <key>DTXcode</key>
    <string>0833</string>
    <key>DTXcodeBuild</key>
    <string>8E3004b</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.wallet</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>AtomApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2018 Ledger</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>Ledger Live</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ledgerhq</string>
        </array>
      </dict>
    </array>
    <key>AsarIntegrity</key>
    <string>{"checksums":{"app.asar":"+4q4bJe9r/EDUpnpKhca4Uiz6FghqQ7QPrsSPmRNxrditXRdOR75GXWqH6zamjhOJYj5bhYO0hKkINcr92vJAw==","electron.asar":"shaGTTf4vQkJywaf3LYKGEHz171417OCfeVc+aD9dvPETPF4vUNxFnzgGWmtxw3qpYrT6QbdtRlvTfz1lxs1KQ=="}}</string>
  </dict>
</plist>